/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container,
	header.head.headers .container{
		max-width: 100%;
		padding: 0 15px;
	}
	
}

@media (max-width: 1310px){


}

@media (max-width: 1280px){
	
	.container,
	.prelatife.container,
	.prelative.container{
		padding: 0 15px;
		max-width: 100%;
		width: auto;
	}

	section.backs_home4 .inners .less_can_numbers .boxed .tops span{
		font-size: 5.5rem;
	}
	footer.foot .inners .subs_footer .top_foot span,
	section.backs_home4 .inners .less_can_numbers .boxed .info p{
		font-size: 17px;
	}
	header.head.headers .prelative.container.d-none.d-sm-block .top-menu{
		padding-top: 0;
	}

}

@media (max-width: 1160px){
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h3{
		font-size: 26px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs p{
		font-size: 16px;
	}
	section.backs_home1{
		min-height: inherit;
	}
	section.backs_home3.back-bottles{
		min-height: 550px;
	}
	section.backs_home3.back-bottles .inners .texts_cont{
		padding-top: 0;
		h3{
			font-size: 25px;
		}
		h5{
			font-size: 19px;
		}
		p{
			font-size: 13px;
		}
		clear: both;
	}
	section.backs_home4 .inners .less_can_numbers .boxed .tops span{
		font-size: 5rem;
	}
	
}

/* Large desktop */
@media (max-width : 1135px){

	section.insidespg-cover{
		height: 375px;
	}

	section.about-sec-1 .blocks_vision_mission h5,
	.content-text h5{
		font-size: 22px;
	}

	.content-text p{
		font-size: 15px;
	}

	section.about-sec-1 .blocks_vision_mission ol li, 
	section.about-sec-1 .blocks_vision_mission ul li{
		font-size: 19px;
	}

	section.about-sec-2.back-bluedark h3{
		font-size: 24px;
	}
	section.about-sec-2.back-bluedark p{
		font-size: 17px;
	}

	.lists_commitments_compet .boxeds .info h4{
		font-size: 18px;
	}
	.lists_commitments_compet .boxeds .info p{
		font-size: 15px;
	}

	.lists_perdana_home1 .items .info h4{
		font-size: 17px;
	}

	section.industry-sec-2.back-bluedark .infos p{
		font-size: 14px;
	}

}

@media (max-width : 1080px) { 
	
}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{
	}

}

@media (max-width : 991px) { 
	
}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav>li>a{
    	font-size: 15px;
    }

}

@media (max-width: 979px) {


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
		padding: 0 !important;
		.navbar{
			padding-top: 0.85rem;
			padding-bottom: 0.85rem;
			.navbar-nav>li>a{
				padding-top: 0.2rem;
				padding-bottom: 0.2rem;
				color: rgba(0,0,0, 0.75);
			}
			.navbar-nav>li:focus>a,
			.navbar-nav>li:hover>a{
				color: rgba(0,0,0, 0.95);
			}
		}
	}

	header.head.headers.morph{
		padding: 0 !important;
		border-bottom-width:3px;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-light .navbar-brand{
		max-width: 275px;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}

	.prelative.container{
		padding: 0 15px;
	}

	section.live-chat{
		display: none;
	}

	.calls_wa a,
	.calls_wa span{
		display: block;
	}
	.calls_wa small{
		display: none;
	}
	#back-top{
		bottom: 7%;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-item .carousel-caption{
		bottom: 0%;
		padding-bottom: 4rem;
		background:transparent url('../images/backs_btm_fcs_mb.png') no-repeat;
		background-size: cover;
		width: 100%;
	}
	header.head, header.head.headers{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 8;

		width: 100%;
	}

	section.backs_home3.back-bottles{
		background: none;
		background: url('../images/backs_home_2_mob.jpg') bottom center no-repeat;
	}

	section.backs_home4 .inners .less_can_numbers .boxed .tops span {
	    font-size: 3.7rem;
	}

	footer.foot .inners .t-copyrights,
	.subs_footer .top_foot.text-right{
		text-align: center !important;
	}

	.subs_footer .top_foot{
		padding-top: 1.5rem;
	}
	footer.foot .inners .t-copyrights{
		padding-bottom: 1rem;
	}

	section.about-sec-1 .blocks_vision_mission h2.titles{
		margin-bottom: 22px;
		margin-top: 1.8rem;
	}

	.lists_perdana_home1 .items{
		margin-bottom: 1.4rem;
	}
	.text-right.backs_t_prd{
		text-align: left !important;
		margin-top: 1rem;
		float: none;
	}
	.content-text.boxs_prd_detail_info .infos_table{
		padding-top: 2.5rem;
	}
	section.insidespg-cover .insides_intext h2{
		font-size: 23px;
	}

	section.insidespg-cover .insides_intext h1{
		font-size: 21px;
		letter-spacing: 3px;
	}

	section.industry-sec-2.back-bluedark .banner_default{
		margin-bottom: 1.8rem;
	}

	section.quality-sec-2{
		min-height: inherit;
		padding-top: 4rem;
	}
	.lists_thumbbanners_cf .boxeds{
		margin-bottom: 2.5rem;
		.info{
			padding: 3rem 2.5rem;
			h3{
				font-size: 18px;
			}
		}
	} 
	.content-text h2{
		margin-bottom: 1rem;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}