@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:700&display=swap');

@fira: 'Fira Sans', sans-serif;
@opensans: 'Open Sans', sans-serif;
@roboto: 'Roboto', sans-serif;
@maven: 'Maven Pro', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #fff;
    font-family: @fira;
}

h1,h2,h3,h4,h5,h6,p,a, div{
    font-family: @fira;
    margin-bottom: 0;
}

.prelative,
.prelatife{
    position: relative;
}
.container{
    padding: 0;
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
}

.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{
    .container{
        max-width: 1260px;
        width: auto;
        margin: 0 auto;
    }
    .container.cont-fcs{
      max-width: 100%;
      padding: 0;
      .carousel-item{
        background-size: cover; 
        img{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
        }
        .carousel-caption{
            left: 0; right: 0;
            bottom: 20%;
            top: inherit;
        }
      }

      .carousel-button-native{
        position: absolute;
        width: 100%;
        bottom: 2%;
        left: 0;

        ol.carousel-indicators{
          position: relative;
          max-width: inherit;
          margin: 0px;
          right: inherit;
          width: auto;
          text-align: left;
          justify-content: left;

          li{
            border-radius: 50%;
            background: #1e3668;
            width: 14px;
            height: 14px;
            cursor: pointer;
          }
          li.active{
            background: #ffffff;
          }
          left: inherit;
        }
      }

      .carousel-caption{
        .bxsl_tx_fcs{
            h3{
                font-family: @fira;
                font-size: 28px;
                font-weight: 600;
                color: #fff;
                padding-bottom: 0.75rem;
            }
            p{
                font-family: @fira;
                font-size: 18px;
                font-weight:300; 
                color: #ffffff; line-height: 1.35;
                padding-bottom: 0.75rem;
            }
            a.btns_bdefaults{
                background: none;
                background-color: rgba(255,255,255, 0.8);
                font-size: 14px; font-weight: 700; color: #1e3668;
                font-family: @fira; text-transform: uppercase; 
                letter-spacing: 2px;
                border-radius: 0;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            a.btns_bdefaults:hover,
            a.btns_bdefaults:focus{
                text-decoration: none;
                color: #122651;
            }
            max-width: 565px;
            // padding: 1.7rem 2rem;
            // background-color: rgba(50,23,4, 0.65);
        }
        clear: both;
      }

    }
  }

header.head.headers.morph{
    clear: both;
    .logo_heads{
        img{
            max-width: 285px;
        }
        padding-top: 0 !important;
    }
    .tops_iso{
        display: none;
    }
    .prelative.container.d-none.d-sm-block{
        padding-top: 0 !important;
        .top-menu{
            padding-top: 0rem;
            ul.list-inline{
                li{
                    a{
                        font-family: @fira;
                        font-weight: 300; color: #1e3668;
                        font-size: 17px !important;
                    }
                    margin-right: 20px;
                }
                list-style: none;
            }
        }
    }
    padding: 1.1rem 0 !important;
    border-bottom: 5px solid #c61f25;
    height: auto;
    background-color: rgba(255,255,255, 0.9);
    margin-top: 0;
    position: fixed;
    top: 0px; left: 0;
    width: 100%; z-index: 17;
}

header.head.headers{
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition-duration: 0.6s;

    height: auto;
    background-color: rgba(255,255,255, 0.8);
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
    .container{
        max-width: 1260px;
        width: auto;
        margin: 0 auto;
    }

    .prelative.container.d-none.d-sm-block{
        .logo_heads{
            img.img.img-fluid{
                // width: 83%;
            }
        }
        .rights_wa_info{
            span{
                font-family: @roboto;
                font-size: 14.6px;
                font-weight: 700; 
                color: #1e3668;
                a{
                    color: #1e3668;
                    text-decoration: none;
                }
                i.fa{
                    font-size: 20px;
                }
                a.langs{
                    font-weight: 500;
                }
                a.langs.active,
                a.langs:hover,
                a.langs:focus{
                    font-weight: 700;
                }
            }
            padding-top: 0.5rem;
            clear: both;
        }
        .top-menu{
            padding-top: 0.6rem; 
            ul.list-inline{
                text-align: right;
                margin: 0;
                li{
                    a{
                        font-family: @fira;
                        font-weight: 300; color: #1e3668;
                        font-size: 18px !important;
                    }
                    margin-right: 30px;
                }
                li:last-child{
                    margin-right: 0;
                }
                li.active,
                li:hover{
                    a{
                        color: #0E2451;
                        text-decoration: none;
                    }
                }
            }
        }

        clear: both;
    }


    clear: both;
}

section.backs_home1{
    .inners{
        clear: both;
    }
    background: url('../images/backs_homes_11_.jpg') no-repeat;
    background-size: cover;
    width: 100%; min-height: 670px; height: auto;
    position: relative;
    z-index: 5;
    clear: both;
}
.lists_perdana_home1{
    .items{
        text-align: center;
        .info{
            max-width: 270px; display: block;
            margin: 0 auto;
            padding: 0 1.5rem;
            padding-top: 0.85rem;
            h4{
                display: block;
                line-height: 1.5;
                font-size: 17px; font-weight: 700; color: #343434;
            }
        }
        clear: both;
    }
    clear: both;
}

section.backs_home2{
    .inners{
        .lists_perdana_home2{
            .items{
                .info{
                    max-width: 270px; display: block;
                    margin: 0 auto;
                    padding-top: 0.75rem;
                    h4{
                        display: block;
                        line-height: 1.4;
                        font-size: 20px; font-weight: 700; color: #fff;
                    }
                }
                clear: both;
            }
            clear: both;
        }
        .views_all_application{
            a{
                font-size: 20px; font-weight: 500; color: #e3383e;
                text-decoration: underline;
                display: block;
                text-align: center;
                padding: 0;
            }
            a:hover,
            a:focus{
                text-decoration: none;
                color: #BF2429;
            }
        }
        clear: both;
    }

    .tops_title{
        h2,
        h5.small-titles{
            color: #fff;
        }
        padding-bottom: 1rem;
    }
    background-color: #1e3668;
    width: 100%; min-height: 550px; height: auto;
    position: relative;
    z-index: 5;
    clear: both;
}

section.backs_home3.back-bottles{
    .inners{
        .texts_cont{
            padding-top: 4rem;
            h3, h5, p{
                display: block;
                line-height: 1.4; margin: 0; padding: 0;
                margin-bottom: 1.1rem;
            }
            h3{
                font-size: 28px; font-weight: 600; color: #fff;
                line-height: 1.2;
            }
            h5{
                font-size: 21px; font-weight: 300; color: #fff;
            }
            p{
                font-size: 14px; font-weight: 300; color: #fff;
            }
            max-width: 420px;
        }
        clear: both;
    }

    background: url('../images/backs_home_2.jpg') bottom right no-repeat;
    background-size: cover;
    width: 100%; min-height: 750px; height: auto;
    color: #fff;
    position: relative;
    z-index: 5;
    clear: both;
}

section.backs_home4{
    .inners{
        .tops_title{
            h2,
            h5.small-titles{
                color: #1e3668;
            }
        }

        .less_can_numbers{
            .boxed{
                .tops{
                    span{
                        font-family: @fira;
                        font-size: 98px; font-weight: 500; color: #c61f25;
                        display: block;
                        line-height: 0.8;
                    }
                    display: block;
                    padding-bottom: 1rem;
                }
                .info{
                    p{
                        font-size: 19px; font-weight: 500; color: #353535;
                        line-height: 1.4;
                    }
                }
                padding: 1rem 0;
            }
            .col-md-20{
                border-right: 2px solid #c8cacb;
            }
            .col-md-20.no-borders{
                border-right: 1px solid transparent;
            }
            clear: both;
        }

        clear: both;
    }

    background-color: #e8eeef;
    color: #353535;
    width: 100%; min-height: 350px; height: auto;
    position: relative;
    z-index: 5;
    clear: both;
}

section.backs_home5{
    .tops.back-blue{
        background-color: #1e3668;
        h2.substitle{
            display: block;
            line-height: 1;
            font-family: @fira;
            font-size: 20px; font-weight: 500; color: #fff; line-height: 1;
        }
    }

    clear: both;
}

.tops_title{
    h2,
    h5.small-titles{
        display: block;
        margin: 0;
        font-family: @fira;
        font-size: 32px; font-weight: 700;
        color: #1e3668;
        line-height: 1;
    }
    padding-bottom: 1rem;
}

a.btns_customs_defaultn{
    font-family: @maven;
    font-size: 14px; font-weight: 700; color: #fff; text-transform: uppercase;
    letter-spacing: 2px;

    background-color: #1f335d;
    border: 0px; border-radius: 0px;
    padding: 0.6rem 2rem;
}
a.btns_customs_defaultn:hover,
a.btns_customs_defaultn:focus{
    background-color: #12244A;
    color: #fff;
}

footer.foot{
    .inners{
        .subs_footer{
            .top_foot{
                span{
                    font-family: @opensans;
                    font-size: 18px; font-weight: 300; text-transform: capitalize;
                }
                clear: both;
            }
            ul{
                li{
                    a{
                        font-family: @opensans;
                        font-size: 14px; font-weight: 300;
                        color: rgba(255,255,255, 0.8);
                    }
                }
                li:hover,
                li:focus{
                    a{
                     color: rgba(255,255,255, 0.9);   
                     text-decoration: none;
                    }
                }
                margin: 0;
            }
            clear: both;
        }

        .t-copyrights{
            font-size: 11px;
            font-weight: 400; color: rgba(255,255,255, 0.8);
            font-family: @roboto;   
            a{
                font-weight: 400; color: rgba(255,255,255, 0.8);
                text-decoration: none;
            }
            a:hover,
            a:focus{
                text-decoration: none;
                color: #fff;
            }
        }
        clear: both;
    }
    color: rgba(255,255,255, 0.8);
    background-color: #090d20;
}

.clearfix,
.clear{
    clear: both;
}
section.live-chat {
    position: fixed;
    right: 0;
    top: 60%;
}
.nfoot_mob_wa {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    width: 100%;
    background-color: #f5f5f5;
    .nx_button {
        text-align: center;
        padding: 0.5rem 0;
        border-top: 1px solid #ccc;
        a {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            i.fa {
                color: green;
            }
        }
    }
}

#back-top {
    color: #FFF;
    background: #FFF;
    font-size: 20px;
    line-height: 100%;
    position: fixed;
    z-index: 500;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit!important;
    border: 1px solid #c5c5c5;
    border-right: 0;
    border-bottom: 0;
    display: none;
    i.fa {
        color: #565656;
    }
}

@import 'subpage.less';
@import 'n_media_styles.less';