@fira: 'Fira Sans', sans-serif;
@opensans: 'Open Sans', sans-serif;
@roboto: 'Roboto', sans-serif;
@maven: 'Maven Pro', sans-serif;

section.insidespg-cover{
	.inners_cover{

	}
	background-size: cover;
	width: 100%;
	height: 524px;
	position: relative; z-index: 2;
	// background: url('../images/banner-hero-dinning1.jpg') no-repeat;
}
section.insidespg-cover {
	display: table; vertical-align: middle;
	width: 100%;
	// height: 100%;

	.outers_block_inner{
		display: table-cell; vertical-align: middle;
		width: 100%;
		height: 100%;
	}

	.insides_intext{
		text-align: center;
		h1{
			display: block; margin: 0;

			font-family: @fira;
			text-transform: uppercase;
			font-size: 25px; font-weight: 600; color: #fff; line-height: 1;

			text-transform: uppercase;
			letter-spacing: 5px;
		}
		h2{
			letter-spacing: 0;
			text-transform: inherit;
			font-size: 29px; font-weight: 700; color: #fff;
		}
		// max-width: 690px;
		margin: 0 auto;
		clear: both;
	}
	clear: both;
}
.back-lines_dncenter{
	width: 24px; height: 3px;
	background: url('../images/back-line_red_coverpg.jpg') no-repeat;
}

.blocks_out_breadcrumbs{
	ol.breadcrumb{
		li.breadcrumb-item{
			a{
				font-size: 14.5px;
				font-weight: 700; color: #606060;
				display: inline-block;
				vertical-align: top;
				line-height: 1;
			}
			display: inline-block;
			vertical-align: top;
			line-height: 1;
		}
		li.breadcrumb-item.active{
			font-size: 14.5px;
			display: inline-block;
			vertical-align: top;
			line-height: 1;
			font-weight: 700; color: #c61f25;
		}
		.breadcrumb-item + .breadcrumb-item::before{
			content: ">";
		}
	}
	clear: both;
}

.lines-grey{
	background-color: #bdbdbd;
	height: 2px;
	width: 100%;
}

section.about-sec-1{
	height: auto;
	width: 100%;
	min-height: 500px; height: auto;

	// -webkit-box-shadow: 7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	// -moz-box-shadow:    7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	// box-shadow:         7px 7px 14px 0px rgba(0, 0, 0, 0.35);

	.blocks_vision_mission{
		h2.titles{
			display: block;
			margin: 0; padding: 0;
			line-height: 1;
			font-size: 28px; font-weight: 600; color: #1e3668;
			margin-bottom: 26px;
		}
		h5{
			font-size: 24px; font-weight: 300; color: #1e3668;
			line-height: 1.45;
		}
		ol,
		ul{
			li{
				font-size: 22px; font-weight: 300; color: #1e3668;
				line-height: 1.45;
				padding-bottom: 40px;
			}
		}
		clear: both;
	}

	position: relative; 
	z-index: 6;
}

section.about-sec-2.back-bluedark{
	background-color: #001637;
	.pic_centers{
		img{}
	}
	h3{
		font-size: 27px; font-weight: 700;
		color: #fff;
	}
	p{
		font-size: 20px; font-weight: 300; 
		color: #fff;
	}
	clear: both;
}

.lists_commitments_compet{
	.boxeds{
		.picture{
			img{}
			padding-bottom: 0.5rem;
		}
		.info{
			h4, p{
				display: block;
				margin: 0; padding: 0;
				line-height: 1.4;
			}
			h4{
				font-size: 20px; font-weight: 700; color: #c61f25;
				text-transform: uppercase;
				margin-bottom: 0.65rem;
			}
			p{
				font-size: 16px; font-weight: 300; color: #353535;
				line-height: 1.45;
			}
		}
	}
}

.lists_arr_icon_applications{
	.boxeds{
		.pict{
			img{}
			padding-bottom: 2rem;
		}
		.info{
			h5{
				display: block; margin: 0; padding: 0;
			}
		}
		padding: 2.7rem 0;
		cursor: pointer;
	}
	
	.boxeds.actived,
	.boxeds:hover,
	.boxeds:focus{
		background-color: #001739;
		.info{
			h5{
				color: #fff;
			}
		}
	}
}

section.industry-sec-2.back-bluedark{
	background-color: #001739;
	.infos{
		h3{
			font-size: 25px; font-weight: 600; color: #fff;
		}
		p{
			font-size: 16px;
			font-weight: 300; color: #fff;
			b,strong{
				font-weight: 700;
			}
			line-height: 1.5;
		}
		ul li,
		ol li{
			font-size: 16px;
			font-weight: 300; color: #fff;
		}
		ol, ul{
			margin-left: -0.3rem;
		}
	}

	clear: both;
}
section.industry-sec-3{
	.tops_dark_blue{
		h5{
			font-size: 20px; font-weight: 500; color: #fff; text-transform: uppercase;
		}
		background-color: #1e3668;
	}
	clear: both;
}

section.product-sec-1{
	background-color: #fff;
	color: #595959 ;

	-webkit-box-shadow: 7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	position: relative; 
	z-index: 6;
	clear: both;
}

.lists_products_nservice{
	.items{
		.picture{
			img{}
		}
		.info{
			padding-top: 1.2rem;
			h4{
				font-size: 22px; font-weight: 700; color: #787878;
				margin-bottom: 0.5rem;
			}
			p{
				font-size: 16px; font-weight: 400; color: #595959;	
				line-height: 1.5;
				clear: both;
			}
			clear: both;
		}
	}
}

.backs_greys_contactcall{
	background-color: #f1f1f1;
	.br-rights{
		border-right: 1px solid #b6b6b6;
	}
	.icons{

	}
	.texts{
		p{
			font-size: 16px; font-weight: 400; 
			color: #7a7a7a;
			strong, b{
				font-weight: 700;
			}
			a{
				text-decoration: none;
				color: #7a7a7a;
			}
			line-height: 1.45;
		}
	}
	.boxed{
		padding: 1.5rem 0;
		min-height: 165px; height: auto;
	}
	clear: both;
}

.lists_thumbbanners_cf{
	.boxeds{
		.pict{
			img{}
		}
		.info{
			h3{
				font-size: 22px; font-weight: 400; color: #fff;
			}
			padding:6.05rem 3rem;
			background-color: rgba(0, 10, 24, 0.5);
		}
	}
}
section.quality-sec-2{
	background:#fff url('../images/backs_btm_qualitys.jpg') bottom center no-repeat;
	background-size: cover;
	min-height: 577px; height: auto;
	width: 100%;


	.blobs_centers{
		h4{
			font-size: 27px; font-weight: 700; color: #fff;
		}
		clear: both;
	}

	clear: both;
}
.backs_t_prd{
	a{
		font-family: @roboto;
		font-size: 14.5px; font-weight: 700; color: #606060;
		text-decoration: none;
	}
}

.maw145{
	max-width: 265px;
}
.content-text.boxs_prd_detail_info{
	h5{
		font-size: 18px; font-weight: 300;
		color: #1e3668;
		line-height: 1.55;
	}

	.infos_table{
		table.table{
			thead{
				tr{
					th{
						background-color: transparent;
						font-size: 14px; font-weight: 500;
						color: #585858;
						padding: 0.5rem;
						border-top: 0;
						padding-left: 0;
					}
				}
			}
			tbody{
				tr{
					td{
						font-size: 13px; font-weight: 400; color: #585858;
						i.fa{
							color: #585858;
							text-decoration: none;
						}
						padding: 0.3rem;
					}
				}
			}
		}
		clear: both;
	}
}

.content-text{
	font-family: @fira;
	h1, h2, h3, h4, h5{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		font-family: @fira;
	}

	h2{
		font-size: 28px;
		font-weight: 600;
		color: #1e3668;
		margin-bottom: 1.3rem;
	}
	h5{
		font-size: 24px;
		font-weight: 300;
		color: #1e3668;
		margin-bottom: 1.4rem;
	}
	
	h4{
		font-size: 16px;
		font-weight: 700;
		color: #595959;
		margin-bottom: 1.4rem;
	}
	h3{
		font-size: 29px;
		font-weight: 400;
		color: #cb0008;
		margin-bottom: 1.4rem;
	}
	
	p{
		font-size: 16px;
		font-weight: 400;
		color: #7a7a7a;
		line-height: 1.5;
		margin-bottom: 20px;
		a{
			text-decoration: none;
			color: #7a7a7a;
		}
		font-family: @fira;
	}

	ol,
	ul{
		li{
			font-size: 16px;
			font-weight: 400;
			color: #7a7a7a;
			font-family: @fira;
		}
	}
}

.maw550{
	max-width: 650px;
}
.box-form.tl-contact-form{
	form{
		label{

		}
		textarea.form-control,
		input.form-control{
			border-radius: 0;
			font-size: 13px;
		}
		button.btn{
			border-radius: 0;
			font-size: 14px;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}